<div class="form-group">
  <%= f.label :wake_board_brand, "แบนด์", class: 'col-md-2 control-label' %>
  <div class="col-md-10">
    <%= f.text_field :wake_board_brand, class: 'form-control' %>
  </div>
</div>

<div class="form-group">
  <%= f.label :wake_board_size, "ไซส์", class: 'col-md-2 control-label' %>
  <div class="col-md-10">
    <%= f.text_field :wake_board_size, class: 'form-control' %>
  </div>
</div>

<div class="form-group">
  <%= f.label :wake_board_year, "ปี", class: 'col-md-2 control-label' %>
  <div class="col-md-10">
    <%= f.text_field :wake_board_year, class: 'form-control' %>
  </div>
</div>

<div class="form-group">
  <%= f.label :wake_board_material, "วัสดุ", class: 'col-md-2 control-label' %>
  <div class="col-md-10">
    <%= f.text_field :wake_board_material, class: 'form-control' %>
  </div>
</div>