<h3>Wake Skate</h3>
<div class="form-group">
  <%= f.label :wake_skate_brand, "แบนด์", class: 'col-md-2 control-label' %>
  <div class="col-md-10">
    <%= f.text_field :wake_skate_brand, class: 'form-control' %>
  </div>
</div>

<div class="form-group">
  <%= f.label :wake_skate_size, "ไซส์", class: 'col-md-2 control-label' %>
  <div class="col-md-10">
    <%= f.text_field :wake_skate_size, class: 'form-control' %>
  </div>
</div>

<div class="form-group">
  <%= f.label :wake_skate_year, "ปี", class: 'col-md-2 control-label' %>
  <div class="col-md-10">
    <%= f.text_field :wake_skate_year, class: 'form-control' %>
  </div>
</div>

<div class="form-group">
  <%= f.label :wake_skate_material, "วัสดุ", class: 'col-md-2 control-label' %>
  <div class="col-md-10">
    <%= f.text_field :wake_skate_material, class: 'form-control' %>
  </div>
</div>