<div class="ibox">
  <div class="ibox-title">
    Add Product: Board
  </div>
  <div class="ibox-content">
    <%= form_for @board, html: { class: 'form-horizontal'} do |f| %>
      <%= render 'layouts/error_messages', f: f.object %>

      <!-- form_for @object, html: { multipart: true }, do |f| -->
      <!-- form_for @object, html: { class: "classname" }, do |f| -->
      <%= f.fields_for :product do |p| %>
        <div class="form-group">
          <%= p.label :title, "Title", class: 'col-md-2 control-label' %>
          <div class="col-md-10">
            <%= p.text_field :title, class: 'form-control' %>
          </div>
        </div>
      <% end %>
      <div class="form-group">
        <%= f.label :size, "Size", class: 'col-md-2 control-label' %>
        <div class="col-md-10">
          <%= f.text_field :size, class: 'form-control' %>
        </div>
      </div>
      <div class="form-group">
        <%= f.label :year, "Year", class: 'col-md-2 control-label' %>
        <div class="col-md-10">
          <%= f.text_field :year, class: 'form-control' %>
        </div>
      </div>
      <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
          <%= f.submit nil, class: 'btn btn-success', data: {disable_with:  'Processing...'} %>
        </div>
      </div>
    <% end %>

  </div>
</div>