<table class="table text-both-center">
  <tr>
    <th width="200px">ราคา</th>
    <td><%= listing.price %></td>
  </tr>
  <tr>
    <th>รายละเอียด</th>
    <td><%= listing.description %></td>
  </tr>
  <tr>
    <th colspan="2" style="text-align: left">Wake Board</th>
  </tr>
  <tr>
    <th>ปี</th>
    <td><%= listing.wake_board_year %></td>
  </tr>
  <tr>
    <th>แบรนด์</th>
    <td><%= listing.wake_board_brand %></td>
  </tr>
  <tr>
    <th>ไซส์</th>
    <td><%= listing.wake_board_size %></td>
  </tr>
  <tr>
    <th colspan="2" style="text-align: left">Boot</th>
  </tr>

  <tr>
    <th>แบรนด์</th>
    <td><%= listing.boot_brand %></td>
  </tr>
  <tr>
    <th>ไซส์</th>
    <td><%= listing.boot_size %></td>
  </tr>

</table>