<%= form_tag boots_path, method: :get, class: '' do %>
  <div class="form-group">
    <label for="">Price</label>
    <div class="form-group row">
      <div class="col-md-6">
        <%= text_field_tag :price_from ,params[:price_from], class: 'form-control input-sm price_from', placeholder: 'From' %>
      </div>
      <div class="col-md-6">
        <%= text_field_tag :price_to ,params[:price_to], class: 'form-control input-sm price_to', placeholder: 'To' %>
      </div>
    </div>
  </div>

  <div class="form-group">
    <label for="">Year</label>
    <%= text_field_tag :boot_year , params[:boot_year], class: 'form-control input-sm boot_year', placeholder: 'year' %>
  </div>
  <div class="form-group">
    <label for="">Brand</label>
    <%= text_field_tag :boot_brand , params[:boot_brand], class: 'form-control input-sm boot_brand', placeholder: 'brand' %>
  </div>
  <div class="form-group">
    <label for="">Size</label>
    <div class="form-group row">
      <div class="col-md-6">
        <%= text_field_tag :boot_size_from , params[:boot_size_from], class: 'form-control input-sm boot_size_from', placeholder: 'From' %>
      </div>
      <div class="col-md-6">
        <%= text_field_tag :boot_size_to , params[:boot_size_to], class: 'form-control input-sm boot_size_to' , placeholder: 'To' %>
      </div>
    </div>
  </div>

  <hr class="margin-small">
  <button type="submit" class="btn btn-default">Search</button>
  <%= link_to "reset", listings_path, class: 'btn btn-link' %>
<% end %>